/node_modules
.env
.env.development
.env.production
/dist
.DS_Store
/build
/logs
*.log
.vscode/
.idea/
*.swp
coverage/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
*.tsbuildinfo
/uploads